*~
*$py.class
build/
.coverage
.coverage.*
coverage.xml
dist/
*.egg
*.egg-info/
.eggs/
*.env
env/
htmlcov/
.idea/
.mypy_cache/
.playwright-mcp/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
*.so
*.swo
*.swp
.tox/
.venv/
venv/
.vscode/
